# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
/.vs
/SACash/Debug
/SACash/x64
/SACash/.vs
/SAInstance/Debug
/SAInstance/x64
/SAInstance/.vs
/SALobby/Debug
/SALobby/x64
/SALobby/.vs
/SALogin/Debug
/SALogin/x64
/SALogin/.vs
/SANexus/Debug
/SANexus/x64
/SANexus/.vs
/Debug
/x64